<?xml version="1.0"?>
<HTMLQuestion xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2011-11-11/HTMLQuestion.xsd">
  <HTMLContent><![CDATA[<!DOCTYPE html><html><head><title>HIT</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/><script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script></head><body><form name="mturk_form" method="post" id="mturk_form" action="https://www.mturk.com/mturk/externalSubmit"><input type="hidden" value="" name="assignmentId" id="assignmentId" /><!-- HIT template: Survey-v3.0 --><!-- The following snippet enables the 'responsive' behavior on smaller screens -->
<meta content="width=device-width,initial-scale=1" name="viewport" />
<section class="container" id="Survey"><!-- Instructions -->
<div class="row">
<div class="col-xs-12 col-md-12">
<div class="panel panel-primary"><!-- WARNING: the ids "collapseTrigger" and "instructionBody" are being used to enable expand/collapse feature --><a class="panel-heading" href="javascript:void(0);" id="collapseTrigger"><strong>Survey Instructions</strong> <span class="collapse-text">(Click to expand)</span></a>
<div class="panel-body" id="instructionBody">
<ul>
  <% if @level != "Level-1" %>
    <li style="color: red">NOTE: This is the <%= @level %> set.  You MUST have completed the Level-<%= @level.split("-")[1].to_i - 1 %> set.  We will reject this HIT if your HIT for the previous set has not been approved.</li>
  <% end %> 
  <li>There are 10 puzzles below.</li>
  <li>Answer all questions to the best of your ability. Do not submit without answering all questions.</li>
  <li>We'll only approve HITS with scores of at least&nbsp;70%!</li>
  <li>Some puzzles may require use of pen and paper.</li>
</ul>
</div>
</div>
</div>
</div>

<div class="row" id="workContent">
<div class="col-sm-8 col-sm-offset-2">
<div class="panel panel-default">
<div class="panel-body" name="q1"><img src="<%= @img_url_prefix %>1.png" width="718px" />
<div class="radio"><label><input name="q1" required="" type="radio" value="A" />A </label></div>

<div class="radio"><label><input name="q1" required="" type="radio" value="B" />B </label></div>

<div class="radio"><label><input name="q1" required="" type="radio" value="C" />C </label></div>

<div class="radio"><label><input name="q1" required="" type="radio" value="D" />D </label></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-body" name="q2"><img src="<%= @img_url_prefix %>2.png" width="718px" />
<div class="radio"><label><input name="q2" required="" type="radio" value="A" />A </label></div>

<div class="radio"><label><input name="q2" required="" type="radio" value="B" />B </label></div>

<div class="radio"><label><input name="q2" required="" type="radio" value="C" />C </label></div>

<div class="radio"><label><input name="q2" required="" type="radio" value="D" />D </label></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-body" name="q3"><img src="<%= @img_url_prefix %>3.png" width="718px" />
<div class="radio"><label><input name="q3" required="" type="radio" value="A" />A </label></div>

<div class="radio"><label><input name="q3" required="" type="radio" value="B" />B </label></div>

<div class="radio"><label><input name="q3" required="" type="radio" value="C" />C </label></div>

<div class="radio"><label><input name="q3" required="" type="radio" value="D" />D </label></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-body" name="q4"><img src="<%= @img_url_prefix %>4.png" width="718px" />
<div class="radio"><label><input name="q4" required="" type="radio" value="A" />A </label></div>

<div class="radio"><label><input name="q4" required="" type="radio" value="B" />B </label></div>

<div class="radio"><label><input name="q4" required="" type="radio" value="C" />C </label></div>

<div class="radio"><label><input name="q4" required="" type="radio" value="D" />D </label></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-body" name="q5"><img src="<%= @img_url_prefix %>5.png" width="718px" />
<div class="radio"><label><input name="q5" required="" type="radio" value="A" />A </label></div>

<div class="radio"><label><input name="q5" required="" type="radio" value="B" />B </label></div>

<div class="radio"><label><input name="q5" required="" type="radio" value="C" />C </label></div>

<div class="radio"><label><input name="q5" required="" type="radio" value="D" />D </label></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-body" name="q6"><img src="<%= @img_url_prefix %>6.png" width="718px" />
<div class="radio"><label><input name="q6" required="" type="radio" value="A" />A </label></div>

<div class="radio"><label><input name="q6" required="" type="radio" value="B" />B </label></div>

<div class="radio"><label><input name="q6" required="" type="radio" value="C" />C </label></div>

<div class="radio"><label><input name="q6" required="" type="radio" value="D" />D </label></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-body" name="q7"><img src="<%= @img_url_prefix %>7.png" width="718px" />
<div class="radio"><label><input name="q7" required="" type="radio" value="A" />A </label></div>

<div class="radio"><label><input name="q7" required="" type="radio" value="B" />B </label></div>

<div class="radio"><label><input name="q7" required="" type="radio" value="C" />C </label></div>

<div class="radio"><label><input name="q7" required="" type="radio" value="D" />D </label></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-body" name="q8"><img src="<%= @img_url_prefix %>8.png" width="718px" />
<div class="radio"><label><input name="q8" required="" type="radio" value="A" />A </label></div>

<div class="radio"><label><input name="q8" required="" type="radio" value="B" />B </label></div>

<div class="radio"><label><input name="q8" required="" type="radio" value="C" />C </label></div>

<div class="radio"><label><input name="q8" required="" type="radio" value="D" />D </label></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-body" name="q9"><img src="<%= @img_url_prefix %>9.png" width="718px" />
<div class="radio"><label><input name="q9" required="" type="radio" value="A" />A </label></div>

<div class="radio"><label><input name="q9" required="" type="radio" value="B" />B </label></div>

<div class="radio"><label><input name="q9" required="" type="radio" value="C" />C </label></div>

<div class="radio"><label><input name="q9" required="" type="radio" value="D" />D </label></div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-body" name="q10"><img src="<%= @img_url_prefix %>10.png" width="718px" />
<div class="radio"><label><input name="q10" required="" type="radio" value="A" />A </label></div>

<div class="radio"><label><input name="q10" required="" type="radio" value="B" />B </label></div>

<div class="radio"><label><input name="q10" required="" type="radio" value="C" />C </label></div>

<div class="radio"><label><input name="q10" required="" type="radio" value="D" />D </label></div>
</div>
</div>
</div>
</div>
<!-- End Survey Layout --></section>
<!-- Please note that Bootstrap CSS/JS and JQuery are 3rd party libraries that may update their url/code at any time. Amazon Mechanical Turk (MTurk) is including these libraries as a default option for you, but is not responsible for any changes to the external libraries --><!-- External CSS references -->
<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" integrity="sha384-IS73LIqjtYesmURkDE9MXKbXqYA8rvKEp/ghicjem7Vc3mGRdQRptJSz60tvrB6+" rel="stylesheet" /><!-- Open internal style sheet -->
<style type="text/css">#collapseTrigger{
    color:#fff;
    display: block;
    text-decoration: none;
  }
  #submitButton{
    white-space: normal;
  }
  .image{
    margin-bottom: 15px; 
  }
</style>
<!-- Close internal style sheet --><!-- External JS references --><script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" integrity="sha384-s1ITto93iSMDxlp/79qhWHi+LsIi9Gx6yL+cOKDuymvihkfol83TYbLbOw+W/wv4" crossorigin="anonymous"></script><!-- Open internal javascript --><script>
  $(document).ready(function() {
    // Instructions expand/collapse
    var content = $('#instructionBody');
    var trigger = $('#collapseTrigger');
    content.hide();
    $('.collapse-text').text('(Click to expand)');
    trigger.click(function(){
      content.toggle();
      var isVisible = content.is(':visible');
      if(isVisible){
        $('.collapse-text').text('(Click to collapse)');
      }else{
        $('.collapse-text').text('(Click to expand)');
      }
    });
    // end expand/collapse
  });
  </script><!-- CLose internal javascript --><p class="text-center"><input type="submit" id="submitButton" class="btn btn-primary" value="Submit" /></p></form><script language="Javascript">turkSetAssignmentID();</script></body></html>]]></HTMLContent>
  <FrameHeight>600</FrameHeight>
</HTMLQuestion>
